<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:name=".presentation.app.CoinApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoList"
        tools:targetApi="34">
        <activity
            android:name=".presentation.CoinDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.CoinPriceListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="androidx.work.WorkManagerInitializer"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:replace="android:authorities"
            tools:node="remove"
            />
    </application>

</manifest>